extends layout 

block main-content
    .d-flex.justify-content-xl-around
        .container
            .row
                .col-6
                    p Welcome to Mehdi Art House, the premier platform for talented artists to showcase their work. Discover a diverse collection of stunning art pieces and connect with the artists directly. Whether you're a collector or just appreciate the beauty of art, find your next masterpiece here.
                    h2 Keep The Tradition.
                    p Mehdi is availabel anytime anywhere.
                .col-6
                    img.rounded-circle(src='/img/three.jpeg', alt='Art Image', height='300', width='300')
                        //- https://www.pinterest.ca/pin/650277633714490750/
    section#section 
        h3 Our Work
        .card-container.d-flex.justify-content-between.flex-wrap
            each card in content
                .card
                    #{card.mywork}
                    .card-info
                        p Name: #{card.name}
                        p Description: #{card.description}
                        p Price: #{card.price}
                        p Offer: #{card.offer}
                        p Location: #{card.location}